@import '../common';

.button {
  padding: 0;
  border: 0;
  background: transparent;
  color: $D30;

  &:hover,
  &.isActive {
    color: $B10;
  }

  &:focus {
    outline: 0;
  }
}

.wrapper {
  height: 42px;
  width: 54px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.tooltipContent {
  margin: 0;
  padding: 0;
  text-align: center;
}
